<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {
        //Call EmpDetails jsonResult Method
        $.getJSON("Home/EmpDetails",
        function (json) {
        var tr;
        //Append each row to html table
        for (var i = 0; i < json.length; i++) {
                tr = $('<tr/>');
            tr.append("<td>" + json[i].cfirstname + "</td>");
            tr.append("<td>" + json[i].clastname + "</td>");
            tr.append("<td>" + json[i].cemailaddress + "</td>");
            tr.append("<td>" + json[i].cpassword + "</td>");
                $('table').append(tr);
            }
        });
    });
</script>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email ID</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@*<td>@item.cfirstname</td><td>@item.clastname</td><td>@item.cemailaddress</td><td>@item.cpassword</td>*@
